html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.top-bar h1 {
    background-color: #17252a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}


.functionalitys {
    display: flex;
    flex: 1; 
}


.features {
    background-color: #2B7a76;
    width: 10%; 
}


.lists {
    background-color: #3aafa9;
    flex: 1; 
    display: flex;
}

.footer {
    background-color: #def2f1;
    padding: 10px;
    text-align: center;
}


.box {
    background-color: #def2f1;
    width: 200px;
    height: 200px; 
    margin: 10px;
}

.add-box{
    background-color: #def2f1;
    width: 200px;
    height: 50px;
    margin: 10px;
}

.add-box button {
    width:80%;
    margin: 10%;
}

.box li {
    background-color: white;

    margin: 10px;
}

.box button {
    width:80%;
    margin: 10%;
}

