/*Global styles – Things that apply to the whole website (e.g., font styles, colors, resets).*/

:root {
    --black-blue: #17252a;
    --grey-blue: #2B7a76;
    --cyan: #3aafa9;
    --light-blue: #def2f1;
  }

  html, body {
    height: 100%;
    margin: 0;
    /*Stretchs the the body to fit the whole screen*/
    display: flex;
    flex-direction: column;
}


/*Layout styles – Things that structure the page (e.g., containers, grids, flexbox).*/

.main-body {
    /*To put the featues and task list container side by side*/
    display: flex;
    flex: 1; 
}

.features {
    background-color: var(--grey-blue);
    width: 10%; 
}

.lists {
    background-color: var(--cyan);
    /*Fill the rest of the screen horizontally*/
    flex: 1; 
    display: flex;
    /*Enable Scroll bar when task list overflows*/
    overflow-x: auto; 
}

.footer {
    background-color:  var(--light-blue);
    padding: 10px;
    text-align: center;
}

.box {
    background-color: white;
    width: 200px;
    height: 200px; 
    margin: 10px;
    overflow-y: auto;
}

.add-box-bg{
    background-color: white;
    width: 200px;
    height: 50px;
    margin: 10px;
     /* Ensures Box dosent overflow*/
     flex-shrink: 0;
}


/*Components – Smaller elements like buttons, cards, or forms.*/

.top-bar h1 {
    background-color: var(--black-blue);
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#add-box-bg-layout{
    /* Center the add box button */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#task-box-form{
    /*To display the submit title button and title input field in the center*/
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
}


/*Utility classes – Small helper classes like .hidden, .text-center, .margin-10.*/

.box li, p, form {
    margin: 10px;
}

.add-box-bg button, .box button {
    background-color: var(--light-blue);
}

.add-box-bg input, .box input {
    background-color: var(--light-blue);
}


#task-boxs  {
    /*To display the task list in a row*/
    display: flex;
}




